*{
    margin: 0;
    padding: 0;
}
@media (max-width:760px){
    .container{
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        flex-basis: 25%;
    }
}
.image{
    background-image: url(pic.jpg);
    background-size: cover;
    height: 100vh;
}
img{
    width: 300px;
    height: 200px;
}
img:hover{
    opacity: 0.5;
}
.navbar{
    height: 100px;
    width: 100%;
    background: lightcyan;
}
.navbar ul li{
    margin: 0 40px;
    display: inline-block;
    line-height: 80px;
    font-size: 20px;
}
.navbar ul li a{
    text-decoration: none;
    font-family: arial;
}
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}
.center{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    color: white;
    ;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    flex-basis: 25%;
    font-size: larger;
}
.container .a1{
    flex: 0;
}
.center a:hover{
    background: red;
    border-radius: 2px;
}
button:hover{
    background: red;
    border-radius: 2px;
}
h1,p,button{
    font-size: 300%;
}



